body {
 background-image: url(https://images.unsplash.com/photo-1546947610-343282bc94e4?q=80&w=3890&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
}
.TonyHawk {
  max-height: 75vh;
object-fit: cover;
min-width: 50vh;
object-position: top;
}